.catalog-page {
    color: #000000;
    background-color: #f9f6f3;
    background-image: url("../img/pattern-light.jpg");
    background-position: 0 0;
    background-repeat: repeat;
}

.page-title {
    font-size: 30px;
    line-height: 42px;
}

.breadcrumbs {
    list-style: none;
}

.breadcrumbs a {
    color: #000000;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
    text-decoration: underline;
}

.breadcrumbs-current {
    color: #aba9a7;
}

.filter fieldset {
    border: none;
}

.filter legend {
    font-size: 24px;
    line-height: 30px;
}

.filter ul {
    list-style: none;
    line-height: 18px;
}

.filter-input:hover + label,
.filter-input:focus + label {
    color: 663d15; 
}

.filter-input:disabled + label {
    color: #000000;
    opacity: 0.5;
}

.catalog-list {
    list-style: none;
}

.catalog-item {
    background-color: #f8f8f8;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

.catalog-item:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.catalog-item a {
    color: #000000;
}

.catalog-item h3 {
    font-size: 14px;
    line-height: 18px;
}

.catalog-category {
    text-transform: none;
}

.catalog-item-price b {
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    background-color:  #e5e5e5;
}

.catalog-item-price .button {
    color: #ffffff;
    line-height: 20px;
}

.pagination-list {
    list-style: none;
}

.pagination-item a {
    color: #ffffff;
    background-color: #000000;
}

.pagination-item a:hover,
.pagination-item a:focus,
.pagination-item a:active {
    background-color: 663d15;
}

.pagination-item-current a {
    color: #000000;
    background-color: #ffffff;
}

.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
    color: #000000;
    background-color: #ffffff;
}