@import "index.css";
@import "catalog-item.css";
@import "catalog.css";

*{
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;

    font-family: "PT Sans Narrow", Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;

    background-color: #000000;
    background-image: url("../img/bg.jpg");
    background-position: top center;
    background-repeat: no-repeat;
}

a {
    text-decoration: none;
}

.button {
    font: inherit;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    background-color: #000000;
    border: none;
    color: #ffffff;
}

.button:hover,
.button:focus,
.button:active {
    background-color: #663d15;
}